language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install .
  - pip install --upgrade pytest
# command to run tests
script: python -m pytest -v
